<!DOCTYPE html>
<html>
    <head>
        <title>I'm raging at: {{business.name}}</title>
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.geolocation.js"></script>
    </head>
    <body>
	<div data-role="page" data-theme="d">
	    <div data-role="header" id="header">
	    <h1></h1>
	</div>
        <div data-role="content">
            <h1>{{business.name}}</h1>
            <ul>
                {% for contact in business.contacts %}
                <li>{{contact.type}}: {{contact.value}}</li>
                {% endfor %}
            </ul>
            <form action="/rage/{{permalink}}" method="POST">
                <input type="submit" value="RAGE!" />
            </form>
        </div>
	<div data-role="footer" data-position="fixed" data-id="thefooternav" data-theme="a">
	    <div data-role="navbar" data-theme="d">
		<ul>
		  <li><a href="/" class="ui-state-persist botfont">Search</a></li>
		  <li><a href="/near-by" class="botfont" data-theme="a">Nearby</a></li>
		</ul>
	    </div>
	</div>
    </body>
</html>
