<!DOCTYPE html>
<html>
    <head>
        <title>iRage</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.geolocation.js"></script>
    </head>
    <body>
	<div data-role="page">
	    <div data-role="content" class="container">
		<h1>iRage</h1>
		<h2>Express your rage</h2>
		<h3>Find a business:</h3>
		<div id="nearby" class="button">Near By</div>
		<div id="byname" class="button">By Name</div>
		<a href="" id="rage-button" data-role="button" data-inline="true" data-theme="b">Rage</a>
    
		<script>
		$("#rage-button").click(function () {
		    $.geolocation.find(function(location){
		       alert(location.latitude+", "+location.longitude);
		    });
		});
		</script>
	    </div>
	</div>
    </body>
</html>
