<!DOCTYPE html>
<html>
    <head>
        <title>iRage</title>
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.geolocation.js"></script>
		<script type="text/javascript" src="js/irage.js"></script>
    </head>
    <body>
	<div data-role="page">
	    <div data-role="content" class="container">
		<form action="" method="post">
		    <div data-role="fieldcontain">
			 <label for="searchbiz">Search Business by Name</label>
			<input type="text" name="searchbiz" id="searchbiz" value=""  />
		    </div>
		</form>

	    </div>
	</div>
    </body>
</html>
