<!DOCTYPE html>
<html>
    <head>
        <title>iRage</title>

	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.geolocation.js"></script>
		<script type="text/javascript" src="js/irage.js"></script>
    </head>
    <body>
	<div data-role="page" data-theme="b">
	    <div data-role="header" id="header">
		<h1>
		    iRage
		</h1>
	    </div>
	    <div data-role="content" class="container">
		<h1>iRage</h1>
		<h2>Express your rage</h2>
		<a href="#" id="rage-button" data-role="button" data-inline="true" data-theme="a" class="button-rage">Rage</a>
		<script>
		$("#rage-button").click(function () {
		    $.geolocation.find(function(location){
                IRAGE.findByLocation(location.longitude, location.latitude);
		    });
		});
		</script>
		<div id="results"></div>
	    </div>
	    <div data-role="footer" data-position="fixed" data-id="thefooternav" data-theme="d">
		<div data-role="navbar" data-theme="d">
		    <ul>
		      <li><a href="/" class="botfont">Search</a></li>
		      <li><a href="/near-by" class="ui-state-persist botfont" data-theme="a"><img src="/images/flame.png" class="img-flame1"/>Nearby<img src="/images/flame.png" class="img-flame2"/></a></li>
		    </ul>
		</div>
	    </div>  
	</div>
    </body>
</html>
